# Dependencias
node_modules
.npm
.yarn

# Build y Cache (Los culpables del peso)
.next
out
.cache
*.sst
*.tsbuildinfo

# Logs
*-debug.log*
*-error.log*

# Git y Configuración local
.git
.gitignore
.vscode
.idea
.DS_Store

# Secretos
.env
.env.local
.env.production
.env*.local

# Documentación (Docker no la necesita para correr la app)
README.md
*.md